# D = Device number (i.e. 0 for /sys/bus/iio/iio:device0)
# P = Record prefix
# C = Channel number (0-based index)
# B = Buffer number. This is the number for /sys/bus/iio/iio:device$(D)/buffer$(B). Usually 0

record(ai, "$(P)ADC$(D):CH$(C)") {
    field(DESC, "Device $(D), Channel $(C)")
    field(DTYP, "tiAm335XAdc")
    field(SCAN, "I/O Intr")
    field(INP,  "@$(D),$(B),$(C)")
}
